@font-face {
  src: url(../include/fonts/comfortaa/Comfortaa_Regular.ttf);
  font-family: comfortaa; }
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  padding-top: 0;
  margin: 0; }

body {
  font-family: comfortaa; }

.container, .container-fluid {
  padding: 0;
  margin: 0; }

.container-fluid::after {
  padding: 0;
  margin: 0; }

.container-fluid::before {
  padding: 0;
  margin: 0; }

header {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }
  header #logos-ps-spa {
    display: flex; }
  header #logo-ps {
    background-image: url(../include/assets/logos/ps.jpg);
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  header #logo-spa {
    background-image: url(../include/assets/logos/spa.png);
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; }
  header #logo-causecommune-hrz {
    background-image: url(../include/assets/logos/logo-causecommune-hrz.png);
    width: 90px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  header div {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    align-items: center;
    margin-bottom: 2px; }
  header #logo-causecommune {
    background-image: url(../include/assets/logos/logo-causecommune_FR.png);
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  header #lang-contact {
    display: flex;
    flex-direction: column; }
    header #lang-contact ul {
      list-style: none;
      display: flex;
      font-size: 1.1em;
      color: #262626; }
      header #lang-contact ul .en {
        display: none; }
      header #lang-contact ul .fr {
        padding-right: 5px; }
      header #lang-contact ul .language-link:link {
        color: #262626; }
      header #lang-contact ul .language-link:visited {
        color: #262626; }
      header #lang-contact ul .language-link:hover {
        border-bottom: 5px solid #ff0000; }
      header #lang-contact ul a:hover {
        text-decoration: none; }
      header #lang-contact ul li .is-active {
        font-weight: bold;
        border-bottom: 5px solid #00b49d; }
    header #lang-contact .contextual {
      display: none; }
    header #lang-contact #contact {
      display: flex;
      justify-content: space-between;
      width: 30px; }
      header #lang-contact #contact a {
        color: #2e2e2e !important; }
      header #lang-contact #contact .fa {
        color: #2e2e2e; }
      header #lang-contact #contact a:hover {
        color: #ff0000 !important; }
      header #lang-contact #contact .fa:hover {
        color: #ff0000 !important; }

@media (max-width: 500px) {
  #logos-ps-spa {
    flex-direction: column; }

  #logo-causecommune {
    width: 120px !important;
    height: 120px !important; }

  #logo-ps {
    width: 25px !important;
    height: 25px !important;
    margin-right: 0 !important; }

  #logo-spa {
    width: 50px !important;
    height: 30px !important; } }
/*ANIMATION LOGO AU SURVOL DE LA LANGUE*/
.rotateFr {
  animation: rotateFr 0.5s linear 0s forwards; }

.rotateNl {
  animation: rotateNl 0.5s linear 0s forwards; }

@keyframes rotateFr {
  from {
    /*        transform: rotate(-90deg);*/
    transform: rotate(90deg); }
  to {
    /*        transform: rotate(0deg);*/
    transform: rotate(0deg); } }
@keyframes rotateNl {
  from {
    /*        transform: rotate(-90deg);*/
    transform: rotate(0deg); }
  to {
    /*        transform: rotate(-270deg);*/
    transform: rotate(90deg); } }
#navigation nav {
  padding: 0 !important;
  background-color: #c8c8c8;
  margin-bottom: 40px; }
  #navigation nav .region-navigation #block-mainnavigation .menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 0 !important;
    font-size: 1.5em;
    margin-top: 25px;
    font-weight: bold; }
  #navigation nav .region-navigation #block-mainnavigation .menu li a {
    color: #000;
    text-decoration: none !important; }
  #navigation nav .region-navigation #block-mainnavigation .menu li a:hover {
    color: #ff0000;
    text-decoration: none !important; }
  #navigation nav .region-navigation #block-mainnavigation .menu li a:visited {
    text-decoration: none !important; }
  #navigation nav .navScroll {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    z-index: 999999;
    height: 85px; }
    #navigation nav .navScroll .menu {
      justify-content: space-around !important;
      font-size: 1.2em; }
  #navigation nav .block-mainnavigation::after {
    content: '';
    height: 300px !important;
    border: 3px solid red;
    width: 100% !important; }

#liste {
  border: 3px solid #00b49d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  padding-bottom: 15px; }
  #liste #nom {
    text-transform: uppercase; }
  #liste #block-views-block-liste-candidats-block-1 > h2 {
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.9em;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  #liste article {
    position: relative;
    margin-top: 30px; }
  #liste h2 {
    position: absolute; }
  #liste h2 {
    color: #ff0000; }
  #liste img {
    border-radius: 50%;
    width: 100px;
    height: 100px; }
  #liste .fa {
    color: #00b49d;
    margin: 3px; }
  #liste .fa:hover {
    color: #ff0000; }
  #liste .fa-twitter {
    display: none; }
  #liste .row-7 .fa-facebook {
    display: none; }
  #liste .row-10 .fa-facebook {
    display: none; }
  #liste .row-11 .fa-facebook {
    display: none; }
  #liste .row-18 .fa-facebook {
    display: none; }
  #liste .row-19 .fa-facebook {
    display: none; }
  #liste .row-23 .fa-facebook {
    display: none; }
  #liste .row-27 .fa-facebook {
    display: none; }
  #liste .field--name-field-nom {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.15em; }
  #liste .field--name-field-descriptif {
    display: none; }
  #liste .visible {
    display: flex;
    align-items: center;
    position: absolute;
    width: 250px;
    min-height: 164px;
    left: 250px;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 1px 1px #00b49d;
    z-index: 999;
    padding: 10px;
    padding-top: 0 !important;
    background-color: white;
    opacity: 0.9; }
  #liste #hide-liste .fa {
    transform: rotate(90deg);
    color: #00b49d; }

@media (max-width: 1190px) {
  #liste #block-views-block-liste-candidats-block-1 > h2 {
    font-size: 1.6em; }
  #liste .node--type-candidat h2 {
    font-size: 1.85em; }
  #liste img {
    width: 90px;
    height: 90px; } }
@media (max-width: 992px) {
  #liste {
    display: none;
    text-align: left; }
    #liste #block-views-block-liste-candidats-block-1 > h2 {
      font-size: 1.8em;
      width: 60%;
      text-align: center !important; }
    #liste .node__content {
      margin-left: 40px; }
    #liste .field--name-field-nom {
      width: 35%; }
    #liste .field--name-field-descriptif {
      width: 50%;
      position: absolute;
      left: 46%;
      top: 5px;
      box-shadow: 1px 1px 1px 1px #c8c8c8;
      border-radius: 5px;
      min-height: 155px;
      display: flex;
      align-items: center;
      text-align: center; }
    #liste .field--name-field-descriptif > p:first-child {
      display: none; }
    #liste .field--name-field-descriptif > p:last-child {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0 !important; } }
@media (max-width: 992px) and (max-width: 750px) {
  #liste #block-views-block-liste-candidats-block-1 > h2 {
    font-size: 1.8em;
    width: 80%; }
  #liste .field--name-field-descriptif {
    top: 0 !important; } }
@media (max-width: 992px) and (max-width: 500px) {
  #liste #block-views-block-liste-candidats-block-1 > h2 {
    font-size: 1.8em;
    width: 90%; } }
@media (max-width: 992px) and (max-width: 420px) {
  #liste #block-views-block-liste-candidats-block-1 > h2 {
    font-size: 1.8em;
    width: 95%; }
  #liste .field--name-field-descriptif {
    left: 50%; } }
@media (max-width: 992px) {
  #commune .field--name-field-descriptif-commune, #commune .field--name-field-intro {
    width: 90% !important;
    font-size: 1.3em !important; }
  #commune img {
    width: 90% !important;
    margin-bottom: 20px !important; }

  #intro #block-views-block-notre-projet-block-1 > h2 {
    margin-top: 0 !important;
    margin-bottom: 40px !important; }
  #intro .node--type-notre-projet .node__content img {
    width: 75% !important;
    margin-left: auto !important;
    margin-right: auto !important; }
  #intro .field--name-field-img-projet {
    text-align: center; }

  #contact-section label {
    font-size: 1.1em; }
  #contact-section input {
    width: 98% !important; }
  #contact-section #edit-submit {
    width: 200px !important; } }
main #gras {
  font-weight: bold; }
main #red {
  color: #ff0000;
  font-weight: bold; }
main #green {
  color: #00b49d;
  font-weight: bold; }
main #commune {
  text-align: center;
  padding: 0; }
  main #commune #display-liste {
    text-align: left;
    margin-left: 40px;
    display: flex;
    align-content: center; }
    main #commune #display-liste .fa {
      transform: rotate(-90deg);
      color: #00b49d; }
    main #commune #display-liste p {
      font-size: 1.5em;
      color: #ff0000;
      margin-bottom: 0; }
  @media (min-width: 992px) {
    main #commune #display-liste {
      display: none; } }
  main #commune h2 {
    display: none; }
  main #commune img {
    width: 80%;
    height: auto;
    margin-bottom: 40px; }
  main #commune .field--name-field-descriptif-commune, main #commune .field--name-field-intro {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.5em; }
  main #commune .field--name-field-descriptif-commune {
    width: 75%; }
main #intro {
  margin-bottom: 40px;
  padding: 0 !important; }
  main #intro #block-views-block-notre-projet-block-1 .field--name-title {
    display: none; }
  main #intro #block-views-block-notre-projet-block-1 > h2 {
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 2em;
    width: 250px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  main #intro .node--type-notre-projet .node__content {
    display: flex;
    align-items: center !important; }
    main #intro .node--type-notre-projet .node__content img {
      width: 500px;
      height: auto; }
    main #intro .node--type-notre-projet .node__content .field--name-body {
      font-size: 1.30em;
      text-align: center; }
      main #intro .node--type-notre-projet .node__content .field--name-body p {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
@media (max-width: 1280px) {
  main #intro .node--type-notre-projet .node__content {
    flex-direction: column-reverse; }
  main #intro .field--name-field-img-projet {
    margin-top: 40px; } }
main #projets {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 !important; }
  main #projets .node--type-intro-axes h2 {
    color: white !important;
    background-color: #00b49d;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 1.8em;
    width: 50% !important;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important; }
  main #projets .node--type-intro-axes h2 > span {
    color: white !important;
    margin-left: auto;
    margin-right: auto; }
  main #projets .field--name-field-intro- p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.5em;
    text-align: center; }
  main #projets .view-projets {
    text-align: center; }
    main #projets .view-projets .views-row {
      margin-bottom: 80px;
      margin-top: 40px; }
    main #projets .view-projets h2 {
      width: 100%;
      color: #ff0000;
      text-align: left; }
    main #projets .view-projets .row-1 h2::after {
      content: '';
      background-image: url(../include/assets/icones/social-care.png);
      width: 80px;
      height: 80px;
      position: absolute;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(10deg); }
    main #projets .view-projets .row-2 h2::after {
      content: '';
      background-image: url(../include/assets/icones/puzzle-piece-silhouette.png);
      width: 80px;
      height: 80px;
      position: absolute;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(120deg);
      margin-left: 20px; }
    main #projets .view-projets .row-3 h2::after {
      content: '';
      background-image: url(../include/assets/icones/triangular-arrows-sign-for-recycle.png);
      width: 80px;
      height: 80px;
      position: absolute;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-100deg);
      margin-left: 20px; }
    main #projets .view-projets .changed::after {
      background-image: none !important;
      width: 0 !important;
      height: 0 !important; }
    main #projets .view-projets h2 a {
      color: #ff0000; }
    main #projets .view-projets h2 .field--name-title {
      color: #ff0000; }
    main #projets .view-projets .field--name-field-sous-titre {
      color: #00b49d;
      font-size: 2em;
      margin-top: -10px;
      text-align: left; }
    main #projets .view-projets .row-1 .field--name-field-sous-titre::after {
      content: '1';
      color: #333;
      background-image: none;
      position: absolute;
      font-size: 15em;
      opacity: 0.1;
      font-weight: bold;
      z-index: -99; }
    main #projets .view-projets .row-2 .field--name-field-sous-titre::after {
      content: '2';
      color: #333;
      background-image: none;
      position: absolute;
      font-size: 15em;
      opacity: 0.1;
      font-weight: bold;
      z-index: -99; }
    main #projets .view-projets .row-3 .field--name-field-sous-titre::after {
      content: '3';
      color: #333;
      background-image: none;
      position: absolute;
      font-size: 15em;
      opacity: 0.1;
      font-weight: bold;
      z-index: -99; }
    main #projets .view-projets .views-col.col-1 > div > div:nth-of-type(2) {
      padding: 0 !important; }
  main #projets button {
    color: #00b49d;
    padding: 15px;
    border: 3px solid #00b49d;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 120px;
    z-index: 99999999; }
  main #projets button:hover {
    background-color: #ff0000;
    color: white;
    border: 3px solid #ff0000; }
  main #projets .row-1 > .views-col.col-1 > div > div:nth-of-type(1) {
    height: 600px;
    position: relative; }
  main #projets .row-1 > .views-col.col-1 > div > div:nth-of-type(1)::after {
    background-image: url(../include/assets/axe/solidaire.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    z-index: -1; }
  main #projets .row-2 > .views-col.col-1 > div > div:nth-of-type(1) {
    height: 600px;
    position: relative; }
  main #projets .row-2 > .views-col.col-1 > div > div:nth-of-type(1)::after {
    background-image: url(../include/assets/axe/educative.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    z-index: -1; }
  main #projets .row-3 > .views-col.col-1 > div > div:nth-of-type(1) {
    height: 600px;
    position: relative; }
  main #projets .row-3 > .views-col.col-1 > div > div:nth-of-type(1)::after {
    background-image: url(../include/assets/axe/durable.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    z-index: -1; }
  main #projets .field__label {
    display: none; }
  main #projets #number {
    color: #ff0000;
    font-weight: bold;
    margin-right: 10px; }
  main #projets .field--name-field-projets {
    display: none; }
  main #projets .projets-hover {
    display: block !important;
    position: absolute;
    left: -290%;
    top: 40px;
    width: 240%;
    font-size: 1.3em;
    z-index: 9999; }
  main #projets .projets-hover-2 {
    display: block !important;
    position: absolute;
    left: 150%;
    top: 10px;
    width: 240%;
    font-size: 1.3em;
    z-index: 9999; }
  main #projets .row-2 {
    text-align: left !important; }
  main #projets .row-2 > .views-col.col-1 > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
  main #projets .row-2 > .views-col.col-1 > div > div:nth-of-type(2) {
    margin-left: 0; }
  main #projets #programme .field--name-title {
    display: none; }
  main #projets #programme .field__items {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    text-align: center; }
  main #projets #programme p > a {
    padding: 5px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px; }
@media (max-width: 1490px) {
  main #projets .row-1 h2::after {
    margin-left: 40px; } }
@media (max-width: 1090px) {
  main #projets .row-1 h2::after {
    width: 60px !important;
    height: 60px !important; }
  main #projets .row-2 h2::after {
    width: 60px !important;
    height: 60px !important;
    margin-left: 20px; }
  main #projets .row-3 h2::after {
    width: 60px !important;
    height: 60px !important;
    margin-left: 20px; } }
@media (max-width: 992px) {
  main #projets .row-1 h2::after {
    width: 60px !important;
    height: 60px !important; } }
@media (max-width: 450px) {
  main #projets .row-1 h2::after {
    margin-left: 0 !important; }
  main #projets .row-2 h2::after {
    width: 60px;
    height: 60px;
    top: 50px;
    margin-left: 0 !important; }
  main #projets .row-3 h2::after {
    width: 60px;
    height: 60px;
    top: 50px;
    margin-left: 0 !important; } }
@media (max-width: 370px) {
  main #projets .row-3 h2::after {
    top: 60px; } }
@media (max-width: 352px) {
  main #projets .row-2 h2::after {
    top: 60px;
    margin-left: 60% !important; } }
@media (max-width: 1291px) {
  main .field--name-field-projets {
    display: none; }
  main .projets-hover {
    font-size: 1.1em !important; }
  main .projets-hover-2 {
    font-size: 1.1em !important; } }
@media (max-width: 992px) {
  main #projets button {
    display: none; }
  main #projets .row-1 > .col-1 > div {
    display: flex;
    flex-direction: column-reverse; }
  main #projets .row-2 > .col-1 > div {
    display: flex;
    flex-direction: column-reverse !important; }
  main #projets .row-3 > .col-1 > div {
    display: flex;
    flex-direction: column-reverse; }
  main #projets .field--name-field-projets {
    display: block;
    position: absolute;
    left: 40px !important;
    top: 200px !important;
    width: 85% !important;
    font-size: 1.2em !important; }
  main #projets .view-projets .views-row {
    margin-bottom: 20px !important;
    margin-top: 40px !important; }
  main #projets .field--name-field-sous-titre {
    margin-bottom: 40px; }
  main #projets .row-1 > .views-col.col-1 > div > div:nth-of-type(1) {
    opacity: 0.2; }
  main #projets .row-2 > .views-col.col-1 > div > div:nth-of-type(1) {
    opacity: 0.2; }
  main #projets .row-3 > .views-col.col-1 > div > div:nth-of-type(1) {
    opacity: 0.2; }
  main #projets #programme .field__items {
    width: 100%;
    justify-content: space-between;
    font-size: 1.2em;
    text-align: center; } }
@media (max-width: 850px) {
  main #projets .node--type-intro-axes h2 {
    width: 85% !important; } }
@media (max-width: 790px) {
  main #projets .field--name-field-projets {
    left: 20px;
    top: 160px !important;
    width: 90% !important;
    font-size: 1.15em !important; } }
@media (max-width: 600px) {
  main #projets .field--name-field-projets {
    left: 10px !important;
    top: 160px !important;
    width: 95% !important;
    font-size: 1em !important; } }
@media (max-width: 425px) {
  main #projets .field--name-field-projets {
    left: 2px !important;
    top: 160px !important;
    width: 98% !important;
    font-size: 0.9em !important; } }
@media (max-width: 992px) {
  main .field--name-field-telecharger .field__items {
    display: block !important; }
  main .field--name-field-telecharger .field__items > .field__item:nth-of-type(2) > p {
    display: none !important; } }
@media (max-width: 600px) {
  main #intro .node--type-notre-projet .node__content img {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  main #projets #title-axes {
    width: 90%; } }
main #contact-section {
  text-align: center;
  margin-top: 40px;
  paddin: 0 !important; }
  main #contact-section h2 {
    color: white;
    background-color: #ff0000;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 2em;
    width: 250px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  main #contact-section input {
    border: none;
    border-bottom: 2px solid #808080;
    padding: 8px; }
  main #contact-section #edit-field-nom-0-format {
    display: none; }
  main #contact-section #edit-field-sujet-0-format {
    display: none; }
  main #contact-section .js-form-item {
    text-align: left;
    margin-bottom: 20px; }
  main #contact-section textarea {
    border: 2px solid #808080;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    resize: none;
    height: 290px !important; }
  main #contact-section .form-type-textarea {
    margin-top: 20px; }
  main #contact-section label {
    font-size: 1.3em; }
  main #contact-section #edit-submit {
    color: #00b49d;
    padding: 15px;
    border: 3px solid #00b49d;
    border-radius: 15px;
    background-color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 40px; }
  main #contact-section #edit-submit:hover {
    background-color: #ff0000;
    color: white;
    border: 3px solid #ff0000; }
  main #contact-section #edit-preview {
    display: none; }

footer {
  border-top: 3px solid #ff0000;
  margin-top: 40px;
  text-align: center;
  font-size: 1.3em;
  background-color: #a6a6a6;
  color: white;
  padding: 0 !important; }
  footer p {
    margin-top: 15px; }
  footer #contact {
    display: flex;
    justify-content: center; }
    footer #contact i {
      margin: 5px; }
    footer #contact a {
      color: white !important; }
    footer #contact .fa {
      color: white; }
    footer #contact a:hover {
      color: #ff0000 !important; }
    footer #contact .fa:hover {
      color: #ff0000 !important; }
  footer #copy {
    margin-top: 15px;
    margin-bottom: 15px; }
  footer #site-fait-par {
    color: black;
    border-top: 3px solid #00b49d;
    background-color: white;
    padding: 15px;
    font-size: 0.75em !important;
    background-color: #c8c8c8; }
    footer #site-fait-par a {
      color: #2e2e2e; }
    footer #site-fait-par a:hover {
      color: white; }

/*# sourceMappingURL=header.css.map */
